@import '../../styles/variables';

.taskWrapper {
  margin: 100px auto;
  padding: 32px;
  max-width: 1000px;
  min-height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 5px $dark-color;
  background: #f4f4f4a6;
  border-radius: 10px;
  z-index: 8;
  header {
    display: grid;
    grid-template-columns: 5fr 2fr 0.5fr;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 8px 24px 0;
    margin: 0 auto;
    h1 {
      padding: 16px 0;
      margin: 0 auto;
    }
  }
}

.loader {
  width: 80%;
  margin: 5px auto;
  height: 30px;
}

@media (max-width: 800px) {
  .loader,
  .taskWrapper header {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .loader {
    width: 100%;
    margin: 0;
  }
  .taskWrapper {
    padding: 20px;
    header {
      width: 100%;
      grid-template-areas:
        'title options'
        'button button';
      grid-template-columns: 3fr 0.5fr;
      justify-content: space-around;
      column-gap: 0px;
      padding: 0;
      h1 {
        grid-area: title;
        font-size: 28px;
      }
      button {
        grid-area: button;
      }
      div {
        grid-area: options;
      }
    }
  }
}
