@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../assets/cover.jpg') fixed no-repeat center center/cover;
  color: $dark-color;
  line-height: 1.2;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 32px;
}

.active {
  font-weight: 600;
  border-bottom: 2px solid $dark-color;
}

.taskWrapper {
  margin: 100px auto;
  padding: 32px;
  max-width: 1000px;
  min-height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  box-shadow: 1px 1px 5px $dark-color;
  background: #f4f4f4a6;
  border-radius: 10px;
  z-index: 8;
}

@media (max-width: 550px) {
  .active {
    border: none;
  }
  .container {
    padding: 0 20px;
  }

  .taskWrapper {
    padding: 20px;
  }
}
